body {
  font-family: "Tomorrow", sans-serif;
  color: rgb(253, 234, 192);
  background: url(../images/background3.jpg) no-repeat center center fixed;
  /* background: url(../images/WindowsDesignBG.png) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portrait {
  height: 15%;
  width: 15%;
}
