body {
  font-family: "Tomorrow", sans-serif;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(219, 219, 219);
  background: url(../images/background3.jpg) no-repeat center center fixed;
  /* background: url(../images/WindowsDesignBG.png) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portrait {
  width: 100%;
}

.portraitText {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 12px;
  letter-spacing: 1px;
  max-width: fit-content;
}

#battleText {
  -webkit-text-stroke: 1px rgb(165, 44, 44);
  font-size: x-large;
}

.characterCard {
}
